Repository xmtp/libxmtp, pull requests merged in 2024-05, with the labels that each got.

#702 Message History: Extend sync group to other installations
  bindings_ffi/src/mls.rs
  xmtp_mls/src/client.rs
  xmtp_mls/src/groups/group_metadata.rs
  xmtp_mls/src/groups/message_history.rs
  xmtp_mls/src/groups/mod.rs
  xmtp_proto/src/gen/xmtp.mls.message_contents.rs
  xmtp_proto/src/gen/xmtp.mls.message_contents.serde.rs
Labels: Group Chat - Prod

#708 Message History: Better key generation method
  xmtp_mls/src/groups/group_metadata.rs
  xmtp_mls/src/groups/message_history.rs
  xmtp_proto/src/gen/xmtp.mls.database.rs
  xmtp_proto/src/gen/xmtp.mls.database.serde.rs
  xmtp_proto/src/gen/xmtp.mls.message_contents.rs
  xmtp_proto/src/gen/xmtp.mls.message_contents.serde.rs
Labels: Group Chat - Prod

#699 Scaffolding to start add/remove members using GroupMembership
  xmtp_mls/src/client.rs
  xmtp_mls/src/groups/group_metadata.rs
  xmtp_mls/src/groups/intents.rs
  xmtp_mls/src/groups/mod.rs
  xmtp_mls/src/groups/sync.rs
  xmtp_mls/src/groups/validated_commit.rs
  xmtp_mls/src/groups/validated_commit_v2.rs
  xmtp_mls/src/identity/v3/legacy.rs
  xmtp_proto/src/gen/xmtp.mls.message_contents.rs
Labels: inbox-id

#711 Message History: begin to handle receiveing messages
  xmtp_mls/src/groups/message_history.rs
  xmtp_mls/src/groups/sync.rs
  xmtp_mls/src/storage/encrypted_store/group_message.rs
Labels: MLS DMs

#688 IdentityStrategy
  xmtp_id/src/associations/builder.rs
  xmtp_id/src/associations/unsigned_actions.rs
  xmtp_mls/migrations/2024-04-30-035609_identity_inbox/down.sql
  xmtp_mls/migrations/2024-04-30-035609_identity_inbox/up.sql
  xmtp_mls/src/builder.rs
  xmtp_mls/src/identity/mod.rs
  xmtp_mls/src/identity/xmtp_id/identity.rs
  xmtp_mls/src/identity/xmtp_id/mod.rs
  xmtp_mls/src/storage/encrypted_store/identity_inbox.rs
  xmtp_mls/src/storage/encrypted_store/mod.rs
  xmtp_mls/src/storage/encrypted_store/schema.rs
  xmtp_mls/src/storage/mod.rs
Labels: inbox-id

#689 Validate Credential
  Cargo.lock
  mls_validation_service/Cargo.toml
  mls_validation_service/src/handlers.rs
  xmtp_id/src/associations/member.rs
  xmtp_id/src/associations/mod.rs
  xmtp_id/src/associations/signature.rs
  xmtp_id/src/credential_verifier.rs
  xmtp_id/src/verified_key_package.rs
  xmtp_mls/Cargo.toml
  xmtp_mls/src/lib.rs
  xmtp_mls/src/verified_key_package_v2.rs
  xmtp_proto/Cargo.toml
  xmtp_proto/src/convert.rs
  xmtp_proto/src/gen/xmtp.mls_validation.v1.rs
  xmtp_proto/src/gen/xmtp.mls_validation.v1.serde.rs
  xmtp_proto/src/gen/xmtp.mls_validation.v1.tonic.rs
  xmtp_proto/src/lib.rs
Labels: inbox-id

#692 Migrate to new OpenMLS storage API
  Cargo.lock
  Cargo.toml
  bindings_ffi/Cargo.lock
  mls_validation_service/src/handlers.rs
  xmtp_mls/migrations/2024-05-06-192337_openmls_storage/down.sql
  xmtp_mls/migrations/2024-05-06-192337_openmls_storage/up.sql
  xmtp_mls/src/client.rs
  xmtp_mls/src/groups/members.rs
  xmtp_mls/src/groups/mod.rs
  xmtp_mls/src/groups/sync.rs
  xmtp_mls/src/groups/validated_commit.rs
  xmtp_mls/src/groups/validated_commit_v2.rs
  xmtp_mls/src/hpke.rs
  xmtp_mls/src/identity/v3/legacy.rs
  xmtp_mls/src/identity/xmtp_id/identity.rs
  xmtp_mls/src/storage/encrypted_store/schema.rs
  xmtp_mls/src/storage/errors.rs
  xmtp_mls/src/storage/sql_key_store.rs
  xmtp_mls/src/verified_key_package.rs
  xmtp_mls/src/verified_key_package_v2.rs
  xmtp_mls/src/xmtp_openmls_provider.rs
  xmtp_proto/src/convert.rs
Labels: Group Chat - Prod

#753 Add helper function for smart contract tests
  xmtp_id/src/associations/signature.rs
  xmtp_id/src/erc1271_verifier.rs
  xmtp_id/src/lib.rs
  xmtp_id/src/scw_verifier.rs
  xmtp_mls/src/groups/group_permissions.rs
Labels: smart-contract-wallet

#771 feat: adds ability to load messages into file, encrypt, and decrypt
  xmtp_mls/Cargo.toml
  xmtp_mls/src/groups/message_history.rs
  xmtp_mls/src/storage/encrypted_store/group_message.rs
Labels: MLS DMs

#759 Add ability to drop database lock
  bindings_ffi/src/lib.rs
  bindings_ffi/src/mls.rs
  xmtp_mls/src/client.rs
  xmtp_mls/src/storage/encrypted_store/mod.rs
  xmtp_mls/src/storage/errors.rs
Labels: Group Chat - Prod

#767 Legacy key issues
  bindings_ffi/src/mls.rs
  xmtp_id/src/associations/signature.rs
  xmtp_mls/src/builder.rs
  xmtp_mls/src/identity.rs
Labels: inbox-id

#775 Fix legacy key recovery.
  Cargo.lock
  xmtp_id/Cargo.toml
  xmtp_id/src/associations/signature.rs
  xmtp_mls/src/builder.rs
  xmtp_mls/src/identity.rs
Labels: inbox-id

#778 Msg History: adds tests for preparing groups, uploading and downloading
  Cargo.lock
  Cargo.toml
  xmtp_mls/Cargo.toml
  xmtp_mls/src/groups/message_history.rs
  xmtp_mls/src/groups/mod.rs
  xmtp_mls/src/storage/encrypted_store/group.rs
Labels: MLS DMs

#791 Message History - more
  xmtp_mls/src/groups/message_history.rs
Labels: MLS DMs
